<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mypro.dao.PingjiaMapper">
  <resultMap id="BaseResultMap" type="org.mypro.entity.Pingjia">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="neirong" jdbcType="VARCHAR" property="neirong" />
    <result column="pingjia" jdbcType="VARCHAR" property="pingjia" />
    <result column="yonghu" jdbcType="VARCHAR" property="yonghu" />
    <result column="yonghuid" jdbcType="INTEGER" property="yonghuid" />
    <result column="shangping" jdbcType="VARCHAR" property="shangping" />
    <result column="shangpingid" jdbcType="INTEGER" property="shangpingid" />
    <result column="shanghu" jdbcType="VARCHAR" property="shanghu" />
    <result column="shanghuid" jdbcType="INTEGER" property="shanghuid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, neirong, pingjia, yonghu, yonghuid, shangping, shangpingid, shanghu, shanghuid
  </sql>
  <select id="selectByExample" parameterType="org.mypro.entity.PingjiaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pingjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pingjia
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_pingjia
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.mypro.entity.PingjiaExample">
    delete from t_pingjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.mypro.entity.Pingjia">
    insert into t_pingjia (id, neirong, pingjia, 
      yonghu, yonghuid, shangping, 
      shangpingid, shanghu, shanghuid
      )
    values (#{id,jdbcType=INTEGER}, #{neirong,jdbcType=VARCHAR}, #{pingjia,jdbcType=VARCHAR}, 
      #{yonghu,jdbcType=VARCHAR}, #{yonghuid,jdbcType=INTEGER}, #{shangping,jdbcType=VARCHAR}, 
      #{shangpingid,jdbcType=INTEGER}, #{shanghu,jdbcType=VARCHAR}, #{shanghuid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.mypro.entity.Pingjia">
    insert into t_pingjia
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="neirong != null">
        neirong,
      </if>
      <if test="pingjia != null">
        pingjia,
      </if>
      <if test="yonghu != null">
        yonghu,
      </if>
      <if test="yonghuid != null">
        yonghuid,
      </if>
      <if test="shangping != null">
        shangping,
      </if>
      <if test="shangpingid != null">
        shangpingid,
      </if>
      <if test="shanghu != null">
        shanghu,
      </if>
      <if test="shanghuid != null">
        shanghuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="neirong != null">
        #{neirong,jdbcType=VARCHAR},
      </if>
      <if test="pingjia != null">
        #{pingjia,jdbcType=VARCHAR},
      </if>
      <if test="yonghu != null">
        #{yonghu,jdbcType=VARCHAR},
      </if>
      <if test="yonghuid != null">
        #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="shangping != null">
        #{shangping,jdbcType=VARCHAR},
      </if>
      <if test="shangpingid != null">
        #{shangpingid,jdbcType=INTEGER},
      </if>
      <if test="shanghu != null">
        #{shanghu,jdbcType=VARCHAR},
      </if>
      <if test="shanghuid != null">
        #{shanghuid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.mypro.entity.PingjiaExample" resultType="java.lang.Long">
    select count(*) from t_pingjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_pingjia
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.neirong != null">
        neirong = #{record.neirong,jdbcType=VARCHAR},
      </if>
      <if test="record.pingjia != null">
        pingjia = #{record.pingjia,jdbcType=VARCHAR},
      </if>
      <if test="record.yonghu != null">
        yonghu = #{record.yonghu,jdbcType=VARCHAR},
      </if>
      <if test="record.yonghuid != null">
        yonghuid = #{record.yonghuid,jdbcType=INTEGER},
      </if>
      <if test="record.shangping != null">
        shangping = #{record.shangping,jdbcType=VARCHAR},
      </if>
      <if test="record.shangpingid != null">
        shangpingid = #{record.shangpingid,jdbcType=INTEGER},
      </if>
      <if test="record.shanghu != null">
        shanghu = #{record.shanghu,jdbcType=VARCHAR},
      </if>
      <if test="record.shanghuid != null">
        shanghuid = #{record.shanghuid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_pingjia
    set id = #{record.id,jdbcType=INTEGER},
      neirong = #{record.neirong,jdbcType=VARCHAR},
      pingjia = #{record.pingjia,jdbcType=VARCHAR},
      yonghu = #{record.yonghu,jdbcType=VARCHAR},
      yonghuid = #{record.yonghuid,jdbcType=INTEGER},
      shangping = #{record.shangping,jdbcType=VARCHAR},
      shangpingid = #{record.shangpingid,jdbcType=INTEGER},
      shanghu = #{record.shanghu,jdbcType=VARCHAR},
      shanghuid = #{record.shanghuid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.mypro.entity.Pingjia">
    update t_pingjia
    <set>
      <if test="neirong != null">
        neirong = #{neirong,jdbcType=VARCHAR},
      </if>
      <if test="pingjia != null">
        pingjia = #{pingjia,jdbcType=VARCHAR},
      </if>
      <if test="yonghu != null">
        yonghu = #{yonghu,jdbcType=VARCHAR},
      </if>
      <if test="yonghuid != null">
        yonghuid = #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="shangping != null">
        shangping = #{shangping,jdbcType=VARCHAR},
      </if>
      <if test="shangpingid != null">
        shangpingid = #{shangpingid,jdbcType=INTEGER},
      </if>
      <if test="shanghu != null">
        shanghu = #{shanghu,jdbcType=VARCHAR},
      </if>
      <if test="shanghuid != null">
        shanghuid = #{shanghuid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.mypro.entity.Pingjia">
    update t_pingjia
    set neirong = #{neirong,jdbcType=VARCHAR},
      pingjia = #{pingjia,jdbcType=VARCHAR},
      yonghu = #{yonghu,jdbcType=VARCHAR},
      yonghuid = #{yonghuid,jdbcType=INTEGER},
      shangping = #{shangping,jdbcType=VARCHAR},
      shangpingid = #{shangpingid,jdbcType=INTEGER},
      shanghu = #{shanghu,jdbcType=VARCHAR},
      shanghuid = #{shanghuid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>