<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mypro.dao.ShangjiaMapper">
  <resultMap id="BaseResultMap" type="org.mypro.entity.Shangjia">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mingzi" jdbcType="VARCHAR" property="mingzi" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="shangjiadizhi" jdbcType="VARCHAR" property="shangjiadizhi" />
    <result column="lianxifangshi" jdbcType="VARCHAR" property="lianxifangshi" />
    <result column="shenhe" jdbcType="VARCHAR" property="shenhe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mingzi, username, password, shangjiadizhi, lianxifangshi, shenhe
  </sql>
  <select id="selectByExample" parameterType="org.mypro.entity.ShangjiaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_shangjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shangjia
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shangjia
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.mypro.entity.ShangjiaExample">
    delete from t_shangjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.mypro.entity.Shangjia">
    insert into t_shangjia (id, mingzi, username, 
      password, shangjiadizhi, lianxifangshi, 
      shenhe)
    values (#{id,jdbcType=INTEGER}, #{mingzi,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{shangjiadizhi,jdbcType=VARCHAR}, #{lianxifangshi,jdbcType=VARCHAR}, 
      #{shenhe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.mypro.entity.Shangjia">
    insert into t_shangjia
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mingzi != null">
        mingzi,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="shangjiadizhi != null">
        shangjiadizhi,
      </if>
      <if test="lianxifangshi != null">
        lianxifangshi,
      </if>
      <if test="shenhe != null">
        shenhe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mingzi != null">
        #{mingzi,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="shangjiadizhi != null">
        #{shangjiadizhi,jdbcType=VARCHAR},
      </if>
      <if test="lianxifangshi != null">
        #{lianxifangshi,jdbcType=VARCHAR},
      </if>
      <if test="shenhe != null">
        #{shenhe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.mypro.entity.ShangjiaExample" resultType="java.lang.Long">
    select count(*) from t_shangjia
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_shangjia
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mingzi != null">
        mingzi = #{record.mingzi,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.shangjiadizhi != null">
        shangjiadizhi = #{record.shangjiadizhi,jdbcType=VARCHAR},
      </if>
      <if test="record.lianxifangshi != null">
        lianxifangshi = #{record.lianxifangshi,jdbcType=VARCHAR},
      </if>
      <if test="record.shenhe != null">
        shenhe = #{record.shenhe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_shangjia
    set id = #{record.id,jdbcType=INTEGER},
      mingzi = #{record.mingzi,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      shangjiadizhi = #{record.shangjiadizhi,jdbcType=VARCHAR},
      lianxifangshi = #{record.lianxifangshi,jdbcType=VARCHAR},
      shenhe = #{record.shenhe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.mypro.entity.Shangjia">
    update t_shangjia
    <set>
      <if test="mingzi != null">
        mingzi = #{mingzi,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="shangjiadizhi != null">
        shangjiadizhi = #{shangjiadizhi,jdbcType=VARCHAR},
      </if>
      <if test="lianxifangshi != null">
        lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},
      </if>
      <if test="shenhe != null">
        shenhe = #{shenhe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.mypro.entity.Shangjia">
    update t_shangjia
    set mingzi = #{mingzi,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      shangjiadizhi = #{shangjiadizhi,jdbcType=VARCHAR},
      lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},
      shenhe = #{shenhe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>