<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mypro.dao.ShangpingMapper">
  <resultMap id="BaseResultMap" type="org.mypro.entity.Shangping">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shangping" jdbcType="VARCHAR" property="shangping" />
    <result column="leixing" jdbcType="VARCHAR" property="leixing" />
    <result column="leixingid" jdbcType="INTEGER" property="leixingid" />
    <result column="miaoshu" jdbcType="VARCHAR" property="miaoshu" />
    <result column="jiage" jdbcType="VARCHAR" property="jiage" />
    <result column="shuliang" jdbcType="VARCHAR" property="shuliang" />
    <result column="shangjia" jdbcType="VARCHAR" property="shangjia" />
    <result column="shangjiaid" jdbcType="INTEGER" property="shangjiaid" />
    <result column="tupian" jdbcType="VARCHAR" property="tupian" />
    <result column="xdcs" jdbcType="VARCHAR" property="xdcs" />
    <result column="llcs" jdbcType="VARCHAR" property="llcs" />
    <result column="jianjie" jdbcType="VARCHAR" property="jianjie" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shangping, leixing, leixingid, miaoshu, jiage, shuliang, shangjia, shangjiaid, 
    tupian, xdcs, llcs, jianjie
  </sql>
  
  
  
  
  
  <select id="cainixihuan" parameterType="org.mypro.entity.ShangpingExample" resultMap="BaseResultMap">
    SELECT DISTINCT
	*
FROM
	t_shangping
WHERE
	leixingid IN (
		SELECT DISTINCT
			leixingid
		FROM
			t_shangping
		WHERE
			id IN (
				SELECT
					shangpingid
				FROM
					t_dingdan
				WHERE
					yonghuid = ${shangjiaid}
			)
	)
OR shangjiaid IN (
	SELECT
		shangjiaid
	FROM
		t_dingdan
	WHERE
		yonghuid = ${shangjiaid}
)
  </select>
  
  
  
  
  <select id="selectByExample" parameterType="org.mypro.entity.ShangpingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_shangping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shangping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shangping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.mypro.entity.ShangpingExample">
    delete from t_shangping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.mypro.entity.Shangping">
    insert into t_shangping (id, shangping, leixing, 
      leixingid, miaoshu, jiage, 
      shuliang, shangjia, shangjiaid, 
      tupian, xdcs, llcs, 
      jianjie)
    values (#{id,jdbcType=INTEGER}, #{shangping,jdbcType=VARCHAR}, #{leixing,jdbcType=VARCHAR}, 
      #{leixingid,jdbcType=INTEGER}, #{miaoshu,jdbcType=VARCHAR}, #{jiage,jdbcType=VARCHAR}, 
      #{shuliang,jdbcType=VARCHAR}, #{shangjia,jdbcType=VARCHAR}, #{shangjiaid,jdbcType=INTEGER}, 
      #{tupian,jdbcType=VARCHAR}, #{xdcs,jdbcType=VARCHAR}, #{llcs,jdbcType=VARCHAR}, 
      #{jianjie,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.mypro.entity.Shangping">
    insert into t_shangping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shangping != null">
        shangping,
      </if>
      <if test="leixing != null">
        leixing,
      </if>
      <if test="leixingid != null">
        leixingid,
      </if>
      <if test="miaoshu != null">
        miaoshu,
      </if>
      <if test="jiage != null">
        jiage,
      </if>
      <if test="shuliang != null">
        shuliang,
      </if>
      <if test="shangjia != null">
        shangjia,
      </if>
      <if test="shangjiaid != null">
        shangjiaid,
      </if>
      <if test="tupian != null">
        tupian,
      </if>
      <if test="xdcs != null">
        xdcs,
      </if>
      <if test="llcs != null">
        llcs,
      </if>
      <if test="jianjie != null">
        jianjie,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shangping != null">
        #{shangping,jdbcType=VARCHAR},
      </if>
      <if test="leixing != null">
        #{leixing,jdbcType=VARCHAR},
      </if>
      <if test="leixingid != null">
        #{leixingid,jdbcType=INTEGER},
      </if>
      <if test="miaoshu != null">
        #{miaoshu,jdbcType=VARCHAR},
      </if>
      <if test="jiage != null">
        #{jiage,jdbcType=VARCHAR},
      </if>
      <if test="shuliang != null">
        #{shuliang,jdbcType=VARCHAR},
      </if>
      <if test="shangjia != null">
        #{shangjia,jdbcType=VARCHAR},
      </if>
      <if test="shangjiaid != null">
        #{shangjiaid,jdbcType=INTEGER},
      </if>
      <if test="tupian != null">
        #{tupian,jdbcType=VARCHAR},
      </if>
      <if test="xdcs != null">
        #{xdcs,jdbcType=VARCHAR},
      </if>
      <if test="llcs != null">
        #{llcs,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null">
        #{jianjie,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.mypro.entity.ShangpingExample" resultType="java.lang.Long">
    select count(*) from t_shangping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_shangping
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shangping != null">
        shangping = #{record.shangping,jdbcType=VARCHAR},
      </if>
      <if test="record.leixing != null">
        leixing = #{record.leixing,jdbcType=VARCHAR},
      </if>
      <if test="record.leixingid != null">
        leixingid = #{record.leixingid,jdbcType=INTEGER},
      </if>
      <if test="record.miaoshu != null">
        miaoshu = #{record.miaoshu,jdbcType=VARCHAR},
      </if>
      <if test="record.jiage != null">
        jiage = #{record.jiage,jdbcType=VARCHAR},
      </if>
      <if test="record.shuliang != null">
        shuliang = #{record.shuliang,jdbcType=VARCHAR},
      </if>
      <if test="record.shangjia != null">
        shangjia = #{record.shangjia,jdbcType=VARCHAR},
      </if>
      <if test="record.shangjiaid != null">
        shangjiaid = #{record.shangjiaid,jdbcType=INTEGER},
      </if>
      <if test="record.tupian != null">
        tupian = #{record.tupian,jdbcType=VARCHAR},
      </if>
      <if test="record.xdcs != null">
        xdcs = #{record.xdcs,jdbcType=VARCHAR},
      </if>
      <if test="record.llcs != null">
        llcs = #{record.llcs,jdbcType=VARCHAR},
      </if>
      <if test="record.jianjie != null">
        jianjie = #{record.jianjie,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_shangping
    set id = #{record.id,jdbcType=INTEGER},
      shangping = #{record.shangping,jdbcType=VARCHAR},
      leixing = #{record.leixing,jdbcType=VARCHAR},
      leixingid = #{record.leixingid,jdbcType=INTEGER},
      miaoshu = #{record.miaoshu,jdbcType=VARCHAR},
      jiage = #{record.jiage,jdbcType=VARCHAR},
      shuliang = #{record.shuliang,jdbcType=VARCHAR},
      shangjia = #{record.shangjia,jdbcType=VARCHAR},
      shangjiaid = #{record.shangjiaid,jdbcType=INTEGER},
      tupian = #{record.tupian,jdbcType=VARCHAR},
      xdcs = #{record.xdcs,jdbcType=VARCHAR},
      llcs = #{record.llcs,jdbcType=VARCHAR},
      jianjie = #{record.jianjie,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.mypro.entity.Shangping">
    update t_shangping
    <set>
      <if test="shangping != null">
        shangping = #{shangping,jdbcType=VARCHAR},
      </if>
      <if test="leixing != null">
        leixing = #{leixing,jdbcType=VARCHAR},
      </if>
      <if test="leixingid != null">
        leixingid = #{leixingid,jdbcType=INTEGER},
      </if>
      <if test="miaoshu != null">
        miaoshu = #{miaoshu,jdbcType=VARCHAR},
      </if>
      <if test="jiage != null">
        jiage = #{jiage,jdbcType=VARCHAR},
      </if>
      <if test="shuliang != null">
        shuliang = #{shuliang,jdbcType=VARCHAR},
      </if>
      <if test="shangjia != null">
        shangjia = #{shangjia,jdbcType=VARCHAR},
      </if>
      <if test="shangjiaid != null">
        shangjiaid = #{shangjiaid,jdbcType=INTEGER},
      </if>
      <if test="tupian != null">
        tupian = #{tupian,jdbcType=VARCHAR},
      </if>
      <if test="xdcs != null">
        xdcs = #{xdcs,jdbcType=VARCHAR},
      </if>
      <if test="llcs != null">
        llcs = #{llcs,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null">
        jianjie = #{jianjie,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.mypro.entity.Shangping">
    update t_shangping
    set shangping = #{shangping,jdbcType=VARCHAR},
      leixing = #{leixing,jdbcType=VARCHAR},
      leixingid = #{leixingid,jdbcType=INTEGER},
      miaoshu = #{miaoshu,jdbcType=VARCHAR},
      jiage = #{jiage,jdbcType=VARCHAR},
      shuliang = #{shuliang,jdbcType=VARCHAR},
      shangjia = #{shangjia,jdbcType=VARCHAR},
      shangjiaid = #{shangjiaid,jdbcType=INTEGER},
      tupian = #{tupian,jdbcType=VARCHAR},
      xdcs = #{xdcs,jdbcType=VARCHAR},
      llcs = #{llcs,jdbcType=VARCHAR},
      jianjie = #{jianjie,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>