// Initial color
$color__white: #ffffff;			   // White
$color__gray_soft: #FAFAFA;		   // color soft gray
$color__black: #000000;			   // Black
$color__header-top-bg: #131313;    // Header Top
$color__background-main: #f8f8f8;  // Post area background
$color__white-smoke: #f8f8f8;      // Post area background
$color__footer-top-bg: #89C9C8;    // Footer top background
$color__background-ins: #fff9c0; 
$color__text-screen: #21759b;

//Text color
$color__text-main: #393939; 		// body text main color
$color__post-title: #434343; 		// body text main color
$color__heading: #3d4348; 			// Heading color
$color__heading-two: #484848; 		// Heading color two
$color__heading-three: #656565; 	// Heading color two
$color__lebel-text: #4d4d4d; 		// Heading color two
$color__lebel-text: #4d4d4d; 		// Heading color two
$color__menu-texttwo: #7f7f7f;			// Menu text color
$color__waterwrap-text: #F1F1F1;	// Menu text color
$color__waterwrap-text-two: #333333;	// Menu text color
$color__slider-text: #977FF2;		// Slider text color
$color__widget-text: #464646;		// Widget text color
$color__meta: #454545;;				// Post meta color
$color__widget_heading: #6d6d6d;	// Widget color
$color__meta-footer: #909090;		// Post Footer meta color
$color__copyright: #6a6b6f;		    // Copyright color
$color__placeholder: #bababa;		// placeholder color
$color__tagcloud: #464646;			// Post Footer meta color

//border color
$color__border-one: #F1F1F1; 		// Widget. Feature background Stock, Read more border 
$color__border-two: #5a5a5a; 		// featured and trending border
$color__border-three: #969696; 		// 
$color__border-four: #EFEFEF;		// Post heading, widget border-bottom, and tag meta border
$color__border-five: #E2E2E2;		// Widget border
$color__border-six: #e7e7e7;		// Widget border
$color__border-seven: #C7C7C7;		// Widget border

$color__border-dark: #d6d6d6;
$color__border-dark-two: #dcdcdc;	// For Menu border bottom
$color__border-input: #ccc;
$color__border-abbr: #666;


$color__nevy_blue: #0e385e;

//Theme and other color
$color__theme-dark: #313131;			// Theme dark color
$color__theme-main: #e7272d;  			// Theme and hover color
$color__theme-secondary: #d8a16c;  		// Theme Secondary color

