/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header Top
--------------------------------------------------------------*/
.header-top {
    padding: 15px 0;
    background-color: $color__header-top-bg;
    .addresses {
        @media only screen and (max-width: 992px) {
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .addresses > div {
        display: inline-block;
        margin-right: 30px;
        color: #898989;
        &:last-child {
            margin-right: 0;
        }
        > i {
            float: left;
            vertical-align: middle;
            position: relative;
            top: 3px;
        }
        p {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 0;
            margin-left: 25px;
            text-transform: capitalize;
        }
    }
    .col-md-4 {
        text-align: right;
        @media only screen and (max-width: 992px) {
            text-align: center;
        }
        @media only screen and (max-width: 767px) {
            padding: 0;
        }
        > div {
            display: inline-block;
            @media only screen and (max-width: 767px) {
                vertical-align: middle;
            }
        }
        .social-links > a {
            color: #5a5a5a;
            margin: 0 8px;
            @media only screen and (max-width: 767px) {
                margin: 0;
                padding: 8px;
                color: #a7a7a7;
            }
        }
        .search-area > i.fa-search {
            color: #bababa;
            cursor: pointer;
        }
        .search-area {
            position: relative;
            .header-search {
                display: none;
                position: absolute;
                background: #fff;
                width: 270px;
                right: -15px;
                margin-top: 10px;
                padding: 10px;
                z-index: 99;
                box-shadow: 1px 3px 8px rgba(0,0,0,0.15);
                border-radius: 5px;
                .form-controller {
                    border: 1px solid $color__theme-secondary;
                    height: 42px;
                }
            }
            .btn.btn-default {
                padding: 7px 15px;
                border-radius: 0;
                height: 42px;

            }
        }
        .mobile-search-area {
            max-width: 205px;
            @media only screen and (max-width: 767px) {
                max-width: 160px;
            }
            .btn-default {
                padding: 8px 10px;
                background: transparent;
            }
            .form-controller {
                color: #a7a7a7;
            }
        }
    }
}
/*--------------------------------------------------------------
# Header Bottom
--------------------------------------------------------------*/
.header-bottom {
    background-color: $color__white;
    .logo-block {
        padding: 15px 0;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            max-width: 195px;
            padding: 23px 0;
        }
        @media only screen and (max-width: 992px) {
            padding: 20px 0;
        }        
        @media only screen and (max-width: 992px) {
            max-width: 195px;
        }
    }
    > .container > .row {
        @media only screen and (max-width: 992px) {
            overflow: hidden;
        }
    }
}

.section-title-one {
    position: relative;   
    margin-bottom: 60px;
    padding: 0px;
    .title-box {
        position: relative;
        z-index: 9;
        background-color: $color__theme-main;
        border-bottom: 15px solid $color__border-one;
        border-left: 15px solid $color__border-one;
        border-radius: 0 0 105px 105px;
        border-right: 15px solid $color__border-one;
        margin: 0 auto 15px;
        padding-top: 25px;
        width: 210px;
        @media only screen and (max-width: 767px) {
            width: 200px;
            padding-top: 15px;
        }
        .title-box-inner {
            background-color: $color__white;
            border-radius: 50%;
            min-height: 145px;
            margin: 0 auto 18px;
            min-width: 145px;
            h3.section-name {
                text-transform: capitalize;
                color: #999999;
                font-size: 20px;
                font-weight: bold;
                margin: 40px 0 0;
                line-height: 24px;
                font-family: inherit;
                span {
                    color: $color__black;
                    display: block;
                }
            }
            .fa {
                color: #747474;
                font-size: 30px;
            }
        }
    }
    h2.section-title {
        color: $color__heading-two;
        font-size: 36px;
        font-weight: 900;
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 0;
        @media only screen and (max-width: 767px) {
            position: relative;
            top: 0;
            margin-bottom: 10px;
            margin-top: 0;
        }
        > span {
            margin: 0 130px;
            @media only screen and (max-width: 767px) {
                margin: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}