html {
	font-size: 100%;
}

body {
  background-color: white;
  font-family: $font__body;
  font-size: $base__font-size;
  font-weight: 400;
  line-height: $font__line-height-body;
  color: $color__text-main;
  -webkit-font-smoothing: antialiased;
}

@import "headings";

@import "copy";